<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StuQue</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!--

    add/create:跳转到登录页，或者打开添加操作的模态窗口
    save：执行添加操作
    edit：跳转到修改页，或者打开修改操作的模态窗口
    update：执行修改操作
    get：执行查询操作
    特殊操作  login等

  -->


  <!--过滤器设置utf-8-->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.Day.StuQue.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>

  </filter-mapping>

  <!--用户-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.Day.StuQue.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>

      <!--管理-->
    <url-pattern>/user/login.do</url-pattern>
    <url-pattern>/user/getUserList.do</url-pattern>
    <url-pattern>/user/add.do</url-pattern>
    <url-pattern>/user/delete.do</url-pattern>
    <url-pattern>/user/update.do</url-pattern>
    <url-pattern>/user/updateUser.do</url-pattern>
    <url-pattern>/user/out.do</url-pattern>

    <!--客户-->
    <url-pattern>/workbench/tran/tranLogin.do</url-pattern>
    <url-pattern>/workbench/tran/tranShow.do</url-pattern>
    <url-pattern>/workbench/tran/tranAddShopping.do</url-pattern>
    <url-pattern>/workbench/tran/sumOne.do</url-pattern>
    <url-pattern>/workbench/tran/shoppingShow.do</url-pattern>
    <url-pattern>/workbench/tran/tranPay.do</url-pattern>
    <url-pattern>/workbench/tran/getOrderList.do</url-pattern>
    <url-pattern>/workbench/tran/getHisListAll.do</url-pattern>
  </servlet-mapping>

  <!--商品-->
  <servlet>
    <servlet-name>CommodityController</servlet-name>
    <servlet-class>com.Day.StuQue.web.controller.CommodityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommodityController</servlet-name>
    <url-pattern>/comm/getCommodityTypeList.do</url-pattern>
    <url-pattern>/comm/getCommodityListAndTypeNamByTypeId.do</url-pattern>
    <url-pattern>/comm/getCommodityById.do</url-pattern>
    <url-pattern>/comm/update.do</url-pattern>
    <url-pattern>/comm/search.do</url-pattern>
    <url-pattern>/comm/delete.do</url-pattern>
    <url-pattern>/comm/add.do</url-pattern>
    <url-pattern>/comm/addShipping.do</url-pattern>
    <url-pattern>/comm/getShippingListByUserName.do</url-pattern>


  </servlet-mapping>


</web-app>
































